<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Project Collaboration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>

<div class="container">
    <h1>Find Longest Working Employee Pairs</h1>

    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required />
        <button type="submit">Upload CSV</button>
    </form>

    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>

    <div th:if="${pairs != null}">
        <h2>Results:</h2>
        <ul>
            <li th:each="pairInfo : ${pairs}">
                <span th:text="${pairInfo}"></span>
            </li>
        </ul>
    </div>
     <div class="home-button">
        <a href="/myapp" class="button">Begin Again</a>
    </div>
</div>
</body>
</html>

